spring:
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: 'TRUE'
    hibernate:
      ddl-auto: update
    open-in-view: 'false'
  mvc:
    hidden-method:
      filter:
        enabled: 'true'
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    password: ${db_password}
    username: ${db_username}
    url: ${DATABASE_URL}
#    jdbc:mysql://localhost:3306/natural_nature_app?allowPublicKeyRetrieval=true&useSSL=false&createDatabaseIfNotExist=true&serverTimezone=UTC
  thymeleaf: # Thymeleaf
    cache: false
    mode: HTML
    encoding: UTF-8
    prefix: file:src/main/resources/templates/

  web:
    resources:
      static-locations: file:src/main/resources/static/
      cache:
        period: 0

  main:
    allow-circular-references: true
logging:
  level: 
    org:
      springframework=DEBUG:
        naturalnaturefinalapp=DEBUG:
      hibernate:
        type:
          descriptor: TRACE
        SQL: DEBUG
      nodeValue: WARN
    blog: WARN
  pattern:
    level:
      server:
        port: ${PORT:8029}
#server:
#  port: 8029


servlet:
  multipart:
    max-file-size: 10MB
    max-request-size: 10MB
    enabled: true
  thymeleaf: # Thymeleaf
    cache: false
    mode: HTML
    encoding: UTF-8
    prefix: file:src/main/resources/templates/
  web:
    resources:
      static-locations: file:src/main/resources/static/**
      cache:
        period: 0

        server:
          tomcat:
            uri-encoding=UTF-8:

              spring:
                mail:
                  host: smtp.gmail.com
                  port: 587
                  username: ${email_username}
                  password: ${password_email}
                  properties:
                    mail.smtp.auth: true
                    mail.smtp.starttls.enable: true


#  mail:
#    host: smtp.gmail.com
#    port: 578
#    username: ${email_username}
#    password: ${password_email}
#    test-connection: true

  upload:
  directory: src/main/resources/static/uploads/

  # Адрес за уведомления (твой имейл)
  notification:
    mail: ${email_notification}
    properties:
      mail:
        smtp:
          auth=true:

            properties:
              mail:
                smtp:
                  starttls:
                    enable=true:
                        connectiontimeout: 5000  # Максимално време за изчакване на свързване (в милисекунди)
                        timeout: 5000            # Максимално време за отговор
                        writetimeout: 5000
stripe:
  api:
    key: ${stripe.api.key}

NaturalNatureApp:
  default.admin.pass: ${default.admin.pass}
  remember.me.key: ${remember.me.key}

#shift:
#  ancient_images: greek.jpeg, changeImage1.png, changeImage2.jpg, sphinks2.jpg
#  refresh-cron: "0 */10 * * * *"

recaptcha:
secret: ${secret_key}
site: ${site_key}
brand-service:
base-url: http://localhost:8029

cloudinary:
  name: ${CLOUDINARY_NAME:dy2y8i2de}
  api-key: ${CLOUDINARY_API_KEY:111187215981859}
  api-secret: ${CLOUDINARY_API_SECRET:H3gM21c_0mYpOPklNO3pR11s8HE}




jwt:
  secret: ${jwt.secret}
  expiration: ${jwt.expiration:58000}

user.deletion: P300D

log:
  deletion: P30D

natural:
  api:
    baseUrl: "http//localhost:8029/api"

After 3 years of frustration here is a solution for a working HOT SWAP:

  https://attacomsian.com/blog/spring-boot-auto-reload-thymeleaf-templates
  
  Below are my tested settings (this is the only thing I've changed for it to work).

application.yaml:

#  security:
#    oauth2:
#      client:
#        registration:
#          google:
#            client-id: 275989394295-mnbcogfo2145eso40g23f3dp7qg3km4e.apps.googleusercontent.com
#            client-secret: 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
#            scope: profile, email
#            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
#        provider:
#          google:
#            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
#            token-uri: https://oauth2.googleapis.com/token
#            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
#            user-name-attribute: sub

            spring:
              security:
                oauth2:
                  client:
                    registration:
                      facebook:
                        client-id: ${YOUR_FACE_CLIENT_ID }
                        client-secret: ${YOUR_FACE_CLIENT_SECRET }
                        scope: email, public_profile
                        redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
                    provider:
                      facebook:
                        authorization-uri: https://www.facebook.com/v10.0/dialog/oauth
                        token-uri: https://graph.facebook.com/v10.0/oauth/access_token
                        user-info-uri: https://graph.facebook.com/me?fields=id,name,email
#
#
#                    services:
#                      - type: web
#                        name: natural-nature-backend
#                        runtime: docker
#                        buildCommand: ./gradlew build
#                        startCommand: java -jar build/libs/app.jar
#                        envVars:
#                          - key: JAVA_HOME
#                            value: /opt/java/openjdk
