<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset-css.css">
</head>
<body>
<nav class="navbar" th:fragment="navbar">
    <a th:href="@{/}">Home</a>
    <a th:href="@{/recycling}">Recycling Map</a>
    <a th:href="@{/marketplace}">Marketplace</a>
    <a th:href="@{/blog}">Blog</a>
    <a th:href="@{/green-cooking}">Green Cooking</a>
    <a th:href="@{/video-courses}">Video Courses</a>
    <div sec:authorize="isAuthenticated()">
        <span>Hello, <span sec:authentication="name"></span></span>
        <a th:href="@{/user/logout}" th:method="post">Logout</a>
    </div>
    <th:block sec:authorize="!isAuthenticated()">
        <form  class="navbar-link active">
            <button class="navbar-link">
                <a th:href="@{/user/login}" >LOGIN</a>
<!--            th:text="#{nav_bar_subscribe}"
 th:text="#{nav_bar_login}"-->

            </button>
        </form>
        <form class="navbar-link active-table-tab">
            <button class="navbar-link">
                <a th:href="@{/user/register}">SUBSCRIBE</a>
            </button>
        </form>
    </th:block>
<!--    <div sec:authorize="!isAuthenticated()">-->
<!--        <a th:href="@{/user/login}">Login</a>-->
<!--        <a th:href="@{/user/register}">Register</a>-->
<!--    </div>-->
</nav>
</body>
</html>