<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
<!--<head th:replace="fragments/head::head"></head>-->
<!--    <link rel="stylesheet" href="/css/style.css">-->
<!--    <link rel="stylesheet" href="/css/reset-css.css">-->
<!--    <link rel="stylesheet" href="/css/navbar.css">-->
<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">-->
<!--<body>-->
<!--<nav class="navbar" th:fragment="navbar">-->
<!--&lt;!&ndash;    <a th:href="@{/}"><img src="/images/natureEthos-logo.jpg" alt="Eco Life Logo"></a>&ndash;&gt;-->
<!--    <div class="logo">-->
<!--        <a th:href="@{/}">-->
<!--            <img src="/images/natureEthos-logo.jpg" alt="Eco Life Logo" class="logo-img">-->
<!--        </a>-->
<!--    </div>-->
<!--&lt;!&ndash;    <a th:href="@{/}" class="navbar-logo-title">&copy; NatureEthos</a>&ndash;&gt;-->

<!--    <ul class="menu">-->
<!--        <li><a th:href="@{/about}">About</a></li>-->

<!--        <li><a th:href="@{/journey}">Journey</a>-->
<!--            <ul class="dropdown">-->
<!--                <li>   <a th:href="@{/eco-accommodations}">Eco-Friendly Accommodations</a></li>-->
<!--                <li><a th:href="@{/national-parks}">National Parks and Reserves</a></li>-->
<!--                <li><a th:href="@{/sustainable-transportation}">Sustainable transportation</a></li>-->
<!--            </ul>-->
<!--        </li>-->
<!--        <li><a href="#">-->
<!--            <a class="name">Community</a>-->
<!--            </a>-->
<!--       <ul class="dropdown">-->
<!--        <li> <a th:href="@{/blog}">Blog</a></li>-->
<!--        <li><a th:href="@{/forum}">Forum</a></li>-->
<!--           <li><a th:href="@{/video-courses}">Video Courses</a></li>-->

<!--           <li>-->
<!--               <a th:href="@{/subscribe}">Premium Memberships</a>-->
<!--               <ul class="dropdown">-->
<!--                   <li> <a th:href="@{/subscribe}">Subscribe</a></li>-->

<!--               </ul>-->
<!--           </li>-->
<!--       </ul>-->

<!--        </li>-->
<!--&lt;!&ndash;        //////////////&ndash;&gt;-->

<!--        <li><a style="color: aquamarine" href="#">Green lifestyle</a>-->
<!--            <ul class="dropdown">-->
<!--                <li><a th:href="@{/herbal-remedies}">Natural remedies</a></li>-->
<!--                <li><a th:href="@{/waste-management}">Responsible fashion</a></li>-->
<!--                <li><a th:href="@{/green-cooking}">Green Cooking</a></li>-->

<!--            </ul>-->
<!--        </li>-->
<!--&lt;!&ndash;/////////////////&ndash;&gt;-->
<!--        <li><a style="font-size: smaller" href="#">Zero Waste Life Style</a>-->
<!--        <ul class="dropdown">-->
<!--            <li><a th:href="@{/compost}">Composting</a></li>-->
<!--            <li><a th:href="@{/waste-management}">Waste Management</a></li>-->
<!--            <li><a th:href="@{/reducing-plastics}">Reducing Single-Use Plastics</a></li>-->
<!--            <li><a th:href="@{/responsible-fashion}">Responsible Fashion</a></li>-->

<!--        </ul>-->
<!--        </li>-->
<!--&lt;!&ndash;        &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--        <li>-->
<!--            <a href="#">Sustainability</a>-->
<!--            <ul class="dropdown">-->
<!--                <li><a th:href="@{/recycling}">Recycling Map</a></li>-->

<!--                <li><a th:href="@{/organic-gardening}">Organic gardening</a></li>-->
<!--                <li><a th:href="@{/passive-houses}">Passive houses</a></li>-->

<!--            </ul>-->
<!--        </li>-->
<!--    </ul>-->
<!--&lt;!&ndash; -&#45;&#45;&ndash;&gt;-->
<!--    <div sec:authorize="isAuthenticated()">-->
<!--        <span>Hello, <span sec:authentication="name"></span></span>-->
<!--        <a th:href="@{/user/logout}" th:method="post">Logout</a>-->
<!--    </div>-->

<!--    <th:block sec:authorize="!isAuthenticated()">-->
<!--        <form style="padding-right: 10px;" class="navbar-link active">-->
<!--            <button class="navbar-link">-->
<!--                <a style="font-size: 0.75rem" th:href="@{/user/login}">LOGIN</a>-->
<!--            </button>-->
<!--        </form>-->
<!--        <form class="navbar-link active-table-tab">-->
<!--            <button class="navbar-link">-->
<!--                <a style="font-size: 0.75rem" th:href="@{/user/register}">SUBSCRIBE</a>-->
<!--            </button>-->
<!--        </form>-->
<!--    </th:block>-->
<!--</nav>-->
<!--</body>-->
<!--<script src="/js/navbar.js"></script>-->
<!--</html>-->




<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html lang="en" xmlns:th="http://www.thymeleaf.org"&ndash;&gt;-->
<!--&lt;!&ndash;      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">&ndash;&gt;-->
<!--&lt;!&ndash;<head>&ndash;&gt;-->
<!--&lt;!&ndash;    <link rel="stylesheet" href="/css/style.css">&ndash;&gt;-->
<!--&lt;!&ndash;    <link rel="stylesheet" href="/css/reset-css.css">&ndash;&gt;-->
<!--&lt;!&ndash;    <link rel="stylesheet" href="/css/navbar.css">&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->
<!--&lt;!&ndash;<body>&ndash;&gt;-->
<!--&lt;!&ndash;<nav class="navbar" th:fragment="navbar">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <img th:src="@{/images/nature-ethos.jpg}" alt="" class="nav-logo">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <a th:href="@{/}" style="font-weight: bold;&ndash;&gt;-->
<!--&lt;!&ndash;    font-size: x-large;&ndash;&gt;-->

<!--&lt;!&ndash;    margin-left: 0.2rem"&ndash;&gt;-->
<!--&lt;!&ndash;       id="logo"&ndash;&gt;-->
<!--&lt;!&ndash;       class="navbar-logo-title">&copy;NatureEthos</a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a th:href="@{/}" style="font-weight: bold;"&ndash;&gt;-->
<!--&lt;!&ndash;       class="navbar-logo-title"></a>&ndash;&gt;-->
<!--&lt;!&ndash;    <br/>&ndash;&gt;-->
<!--&lt;!&ndash;    <a style="margin-left: -3rem" th:href="@{/about}">About</a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a th:href="@{/recycling}">Recycling Map</a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a th:href="@{/marketplace}">Marketplace</a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a th:href="@{/blog}">Blog</a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a th:href="@{/forum}">Forum</a>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>&ndash;&gt;-->
<!--&lt;!&ndash;        <a >Sustainability</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <ul class="dropdown">&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a th:href="@{/green-cooking}">Green Cooking</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a th:href="@{/video-courses}">Video Courses</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a th:href="@{/waste-management}">Waste Management</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;        </ul>&ndash;&gt;-->
<!--&lt;!&ndash;    </li>&ndash;&gt;-->



<!--&lt;!&ndash;    <div sec:authorize="isAuthenticated()">&ndash;&gt;-->
<!--&lt;!&ndash;        <span>Hello, <span sec:authentication="name"></span></span>&ndash;&gt;-->
<!--&lt;!&ndash;        <a th:href="@{/user/logout}" th:method="post">Logout</a>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <th:block sec:authorize="!isAuthenticated()">&ndash;&gt;-->
<!--&lt;!&ndash;        <form  class="navbar-link active">&ndash;&gt;-->
<!--&lt;!&ndash;            <button class="navbar-link">&ndash;&gt;-->
<!--&lt;!&ndash;                <a th:href="@{/user/login}" >LOGIN</a>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            th:text="#{nav_bar_subscribe}"&ndash;&gt;-->
<!--&lt;!&ndash; th:text="#{nav_bar_login}"&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;            </button>&ndash;&gt;-->
<!--&lt;!&ndash;        </form>&ndash;&gt;-->
<!--&lt;!&ndash;        <form class="navbar-link active-table-tab">&ndash;&gt;-->
<!--&lt;!&ndash;            <button class="navbar-link">&ndash;&gt;-->
<!--&lt;!&ndash;                <a th:href="@{/user/register}">SUBSCRIBE</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </button>&ndash;&gt;-->
<!--&lt;!&ndash;        </form>&ndash;&gt;-->
<!--&lt;!&ndash;    </th:block>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <div sec:authorize="!isAuthenticated()">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <a th:href="@{/user/login}">Login</a>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <a th:href="@{/user/register}">Register</a>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</nav>&ndash;&gt;-->
<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::head"></head>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/reset-css.css">
<link rel="stylesheet" href="/css/navbar.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<body>
<nav class="navbar" th:fragment="navbar">
    <div class="logo">
        <a th:href="@{/}">
            <img src="/images/natureEthos-logo.jpg" alt="Eco Life Logo" class="logo-img">
        </a>
    </div>

    <!-- Добавяме хамбургер бутон -->
    <button class="hamburger" aria-label="Toggle menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </button>

    <ul class="menu">
        <li><a th:href="@{/about}">About</a></li>
        <li>
            <a th:href="@{/journey}">Journey</a>
            <ul class="dropdown">
                <li><a th:href="@{/eco-accommodations}">Eco-Friendly Accommodations</a></li>
                <li><a th:href="@{/national-parks}">National Parks and Reserves</a></li>
                <li><a th:href="@{/sustainable-transportation}">Sustainable transportation</a></li>
            </ul>
        </li>
        <li>
            <a class="name">Community</a>
            <ul class="dropdown">
                <li><a th:href="@{/blog}">Blog</a></li>
                <li><a th:href="@{/forum}">Forum</a></li>
                <li><a th:href="@{/video-courses}">Video Courses</a></li>
                <li>
                    <a th:href="@{/subscribe}">Premium Memberships</a>
                    <ul class="dropdown">
                        <li><a th:href="@{/subscribe}">Subscribe</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a style="color: aquamarine" href="#">Green lifestyle</a>
            <ul class="dropdown">
                <li><a th:href="@{/herbal-remedies}">Natural remedies</a></li>
                <li><a th:href="@{/waste-management}">Responsible fashion</a></li>
                <li><a th:href="@{/green-cooking}">Green Cooking</a></li>
                <li><a th:href="@{/wellness}">Natural Wellness Therapies</a></li>
                <li><a th:href="@{/nutrition}">Nutrition</a></li>
            </ul>
        </li>
        <li>
            <a style="font-size: smaller" href="#">Zero Waste Life Style</a>
            <ul class="dropdown">
                <li><a th:href="@{/compost}">Composting</a></li>
                <li><a th:href="@{/waste-management}">Waste Management</a></li>
                <li><a th:href="@{/reducing-plastics}">Reducing Single-Use Plastics</a></li>
                <li><a th:href="@{/responsible-fashion}">Responsible Fashion</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Sustainability</a>
            <ul class="dropdown">
                <li><a th:href="@{/recycling}">Recycling Map</a></li>
                <li><a th:href="@{/organic-gardening}">Organic gardening</a></li>
                <li><a th:href="@{/passive-houses}">Passive houses</a></li>
            </ul>
        </li>
    </ul>

    <div class="auth-section">
        <div sec:authorize="isAuthenticated()">
            <span>Hello, <span sec:authentication="name"></span></span>
            <a th:href="@{/user/logout}" th:method="post">Logout</a>
        </div>
        <th:block sec:authorize="!isAuthenticated()">
            <form style="padding-right: 10px;" class="navbar-link active">
                <button class="navbar-link">
                    <a style="font-size: 0.75rem" th:href="@{/user/login}">LOGIN</a>
                </button>
            </form>
            <form class="navbar-link active-table-tab">
                <button class="navbar-link">
                    <a style="font-size: 0.75rem" th:href="@{/user/register}">SUBSCRIBE</a>
                </button>
            </form>
        </th:block>
    </div>
</nav>
</body>
<script src="/js/navbar.js"></script>
</html>