<!DOCTYPE html>
<html  lang="en"
       xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="/fragments/commons::head">-->
<!--</head>-->


<head>
    <meta charset="UTF-8">
    <title>EcoLife - Sustainable Living</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<nav class="navbar" th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <h1>Welcome to EcoLife</h1>
    <p>A platform for recycling, sustainable living, and eco-friendly cooking.</p>
</div>
</body>
</html>