<!-- src/main/resources/templates/national-parks.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle} + ' - Eco Life'">National Parks and Reserves - Eco Life</title>
    <link rel="stylesheet" th:href="@{/css/journey.css}">

<body>
<div th:replace="fragments/navbar :: navbar"></div>

<header class="hero">
    <div class="hero-content">
        <h1 th:text="${pageTitle}">National Parks and Reserves</h1>
    </div>
</header>

<section class="journey-sections">
    <div class="section-item">
        <img th:src="${imagePath}" alt="National Parks Image" class="section-image">
        <p th:text="${content}">Content</p>
    </div>
</section>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>