<!-- src/main/resources/templates/national-parks.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head::head}"></div>
    <meta charset="UTF-8">
    <title th:text="${pageTitle} + ' - Nat Ethos'">National Parks and Reserves - Natural Ethos</title>
    <link rel="stylesheet" th:href="@{/css/nat-park.css}">

<body >
<div th:replace="fragments/navbar :: navbar"></div>
<div class="nat-park">
<header class="hero">
    <div class="hero-content">
        <h1>National Parks and Reserves in Environmental Conservation</h1>

    </div>
</header>

<section class="journey-sections">
    <div class="section-item">
        <h2 th:text="${pageTitle}">National Parks and Reserves</h2>
<!--        <img th:src="@{imagePath}" alt="National Parks Image" class="section-image">-->

        <p th:text="${content}">Content</p>
    </div>
</section>
</div>

</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>