<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head">
</head>
    <meta charset="UTF-8">
    <title th:text="${recipe.title} + ' - Green Cooking'"></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" href="/css/recipe.css">

<body>
<div th:replace="~{fragments/preloader :: preloader}"></div>
<nav class="navbar" th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <h1 th:text="${recipe.title}"></h1>
    <p th:text="${recipe.instructions}"></p>
    <h3>Ingredients</h3>
    <ul>
        <li th:each="ingredient : ${recipe.ingredients}" th:text="${ingredient}"></li>
    </ul>
    <h3>Instructions</h3>
    <p th:text="${recipe.instructions}"></p>
    <iframe th:src="${recipe.videoUrl}" width="560" height="315" frameborder="0" allowfullscreen></iframe>
    <form th:action="@{/green-cooking/order/{id}(id=${recipe.id})}" th:object="${order}" method="post">
        <label for="userEmail">Your Email:</label>

        <input type="email" id="userEmail" th:field="*{customerName}" required>
        <button type="submit">Order Ingredients</button>
    </form>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>