<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head">
</head>
    <meta charset="UTF-8">
    <title>Register - Natural Ethos</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" href="/css/register.css">

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<body>
<nav class="navbar" th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <h1><i class="fas fa-user-plus"></i>Register</h1>
    <form th:action="@{/user/register}"
          th:object="${user}" method="post"
          onsubmit="return validateForm()">
        <div class="form-group">
            <label for="username"><i class="fas fa-user"></i>Username</label>
            <input type="text" id="username" autocomplete="username"
                   th:field="*{username}" required>
            <span class="error" th:if="${#fields.hasErrors('username')}"
                  th:errors="*{username}"></span>
        </div>
        <div class="form-group">
            <label for="fullName"><i class="fas fa-user">Full Name</i></label>
            <input type="text" id="fullName" autocomplete="fullName" th:field="*{fullName}" required>
            <span class="error" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></span>
        </div>
        <div class="form-group">
            <label for="email"><i class="fas fa-envelope"></i>Email</label>
            <input type="email" id="email" autocomplete="email" th:field="*{email}" required>
            <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
        <div class="form-group">
            <label for="password"><i class="fas fa-lock"></i>Password</label>
            <input type="password" autocomplete="new-password" id="password" th:field="*{password}" required>
            <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        </div>
        <div class="form-group">
            <label for="confirmPassword"><i class="fas fa-lock"></i>Confirm password</label>
            <input type="password" id="confirmPassword" autocomplete="new-password" th:field="*{confirmPassword}" required>
            <span class="error" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span>
        </div>
<!--        <div class="g-recaptcha"    th:attr="data-sitekey=${@captchaSettings.getSite()}"></div>-->
<!--&lt;!&ndash;             data-sitekey="6Lfue_cqAAAAADUMMk6-uwBbQWXKRoiPhkVI843e"&ndash;&gt;-->
<!--        <input type="hidden" name="g-recaptcha-response" id="g-recaptcha-response">-->
<!--        <div class="error" th:if="${error}" th:text="${error}"></div>-->
        <button type="submit"><i class="fas fa-sign-in-alt"></i>Register</button>
    </form>
    <p>Already have an account? <a th:href="@{/login}">Login here</a></p>
</div>
<script>
    function validateForm() {
        const username = document.getElementById('username').value;
        const fullName = document.getElementById('fullName').value;
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirmPassword').value;
        // const recaptchaResponse = document.getElementById('g-recaptcha-response');

        // Попълваме полето с reCAPTCHA токена
        // try {
        //     recaptchaResponse.value = grecaptcha.getResponse();
        //     console.log("reCAPTCHA response:", recaptchaResponse.value); // Логираме в конзолата за дебъг
        // } catch (e) {
        //     console.error("Error getting reCAPTCHA response:", e);
        //     alert("Error with reCAPTCHA. Please try again.");
        //     return false;
        // }
        if (username.length < 3) {
            alert('Username must be at least 3 characters');
            return false;
        }
        if (fullName.length < 2) {
            alert('Full name must be at least 2 characters');
            return false;
        }
        if (!email.includes('@')) {
            alert('Please enter a valid email');
            return false;
        }
        if (password.length < 6) {
            alert('Password must be at least 6 characters');
            return false;
        }

        if (confirmPassword !== password) {
            alert('Must be the same!');
            return false;
        }
        // if (!recaptchaResponse.value) {
        //     alert('Please complete the reCAPTCHA.');
        //     return false;
        // }
        return true;
    }
</script>
<footer th:replace="fragments/footer :: footer"></footer>
<script>
    function setRecaptchaToken() {
        const recaptchaResponse = document.getElementById('g-recaptcha-response').value = grecaptcha.getResponse();
        if (!recaptchaResponse) {
            alert('Please complete the reCAPTCHA.');
            return false;
        }
        return true;
    }
</script>
</body>
</html>